@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textDark;
  font-family: 'Inter', sans-serif;
}
html,
body,
#root {
  height: 100%;
}


@keyframes border {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-border {
  background-size: 300% 300%;
  animation: border 3s linear  infinite;
  border: 5px soloid transparent;
}
